<!-- Parial-vy för inlägg -->
<!-- Namnrymd -->
@using Mentability.Models;

<div class="row">
    @{
        // Lagrar inläggen i ViewBag i en lista och det aktuella indexet
        List<NewsArticle> articles = (List<NewsArticle>)ViewBag.Articles;
        int index = (int)ViewBag.ArticleIndex;

        // Denna lista används vid utskrift
        List<NewsArticle> render = new List<NewsArticle>();

        /* Lägger till inlägg i listan ovan med start från det aktuella indexet */
        @for(int i = index; i < articles.Count; i++)
        {
            render.Add(articles[i]);
        }

        /* Om listan innehåller färre än tre aktiviteter, används en foreach-loop */
        @if (render.Count < 3)
        {
            @foreach(NewsArticle article in render)
            {
                <article class="news-article">
                    <h3>@article.Title</h3>
                    <p class="date">@article.Date.ToString("dd/MM/yyyy")</p>

                    <!-- Tar bort eventuella blanksteg eftersom de genererar valideringsfel -->
                    @if (article.Content.IndexOf("\r\n") > -1)
                    {
                        article.Content = article.Content.Replace("\r\n", " ");
                    }

                    <p class="admin-text">@article.Content.Substring(0, 150) ...</p>
                    <p class="author">@article.Author</p>
                    <div>
                        <p class="edit"><a asp-controller="EditNewsArticle" asp-action="EditNewsArticle" asp-route-id="@article.Id" 
                            class="edit-link" aria-label="Öppnar formuläret för redigering">✎</a></p>
                        <p class="delete"><a asp-controller="NewsArticle" asp-action="Delete" asp-route-id="@article.Id" 
                            class="delete-link" aria-label="Raderar nyheten">🗑</a></p>
                    </div>
                </article>    
            }
        }
        // Annars används tre som villkor vid utskrift
        else
        {
            @for(int i = 0; i < 3; i++)
            {
                <article class="news-article">
                    <h3>@render[i].Title</h3>
                    <p class="date">@render[i].Date.ToString("dd/MM/yyyy")</p>

                    <!-- Tar bort eventuella blanksteg eftersom de genererar valideringsfel -->
                    @if (render[i].Content.IndexOf("\r\n") > -1)
                    {
                        render[i].Content = render[i].Content.Replace("\r\n", " ");
                    }

                    <p class="admin-text">@render[i].Content.Substring(0, 150) ...</p>
                    <p class="author">@render[i].Author</p>
                    <div>
                        <p class="edit"><a asp-controller="EditNewsArticle" asp-action="EditNewsArticle" asp-route-id="@render[i].Id" 
                            class="edit-link" aria-label="Öppnar formuläret för redigering">✎</a></p>
                        <p class="delete"><a asp-controller="NewsArticle" asp-action="Delete" asp-route-id="@render[i].Id" 
                            class="delete-link" aria-label="Raderar nyheten">🗑</a></p>
                    </div>
                </article>    
            }
        }
    }               
</div>


